{
  "type": "experience",
  "mock": true,
  "callConfigServiceFromLocal": true,
  "esiBaseUrlForDevRunner": "https://www.homedepot.com",
  "esiAllowedHostsForDevRunner": [
    "https://www.edge-dev.homedepot.com",
    "https://assets.homedepot-static.com"
  ],
  "disableUI": false
}
